/* The actual timeline (the vertical ruler) */
.Timeline {
    position: relative;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* The actual timeline (the vertical ruler) */
.Timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 8%;
    margin-left: -3px;
}

.Active{
    margin: 10px 0px 0px 10px
}

.Active > h2 {
    text-align: start;
    font-size: 30px;
    color: white;
}
.Active > p {
    color: white;
    text-align: start;
    font-size: 17px !important;
}

.Container > h2 {
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
    text-align: start;
}

.Container > p {
    transition: all 1s;
    font-size: 15px;
    margin-top: 0;
    color: white;
    text-align: start;
}

.Container:hover > p {
    font-size: 20px;
    margin-top: 0;
}

/* Container around content */
.Container {
    display: block;
    text-decoration: none;
    padding: 0.1px 0px 0px 25px;
    margin-bottom: 70px;
    position: relative;
    background-color: inherit;

    color: white;

    cursor: pointer;

    transition: all 1s;
}

/* The circles on the timeline */
.Container::after {
    transition: all 1s;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 15px;
    border-radius: 50%;
    margin-left: 11px;
    z-index: 1;
}

.Container:hover {
    font-size: 30px;
}

.Container:hover::after {
    margin-top: 10px;
    margin-left: 5px;
    width: 36px;
    height: 36px;
}

.Active.Container::after {
    margin-left: -6px;
    width: 36px;
    height: 36px;
    
}
.Active.Container:hover::after {
    margin-top: 0px;
    
}
/* Place the container to the left */
.Left {
    left: 0;
}

/* Place the container to the right */
.Right {
    left: 5%;
}

/* Fix the circle for containers on the right side */
.Right::after {
    left: -16px;
}