html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #282424;
  padding: 0;
  margin: 0;
}

aside {
  position: fixed;
  max-width: 20vw;
}

.Images{
  display: flex;
  width: 100%;
}

.Images > img {
  width: 50%;
}

section {
  height: 100vh;
  background-color: #282424 !important;
  margin: 0;
  overflow-y: none;
}

.divExplore {
  position: relative;
}

.Mission {
  padding-left: 20vw;
  padding-right: 10vw;
  
  font-size: 14px;
}

.Mission > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.VideoSection,
.sectionGuru {
  position: relative;
  overflow: hidden;
}

.sectionGuru > h2 {
  width: 100%;
  text-align: center;
}

.BalaoDialogo > h3 {
  color: black;
}

.VideoOverlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(55, 55, 55, 0.429);
  opacity: 0.5;
  z-index: 1;
}

.VideoContent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  z-index: 1;
}

.VideoContent>div {
  width: 50%;
  height: 30%;
}

.VideoContent>div>h1 {
  font-size: 45x;
}

.MainVideo {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
}

section>div>p {
  text-align: left;
}

section>h2 {
  font-size: 50px;
  color: white !important;
}

.divSection {
  display: flex;
  margin-left: 15vw;
  flex-direction: column;
}

.BotaoExplore {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.BotaoExploreMission {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.BotaoExplore:hover {
  color: var(--bs-light);
  opacity: 0.8;
}

.BotaoExplore .bi {
  font-size: 16px;
  transition-delay: 0.8s;
  animation: bounce 1s infinite alternate;
}


@keyframes bounce {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(-5px);
  }
}

.Guru {
  position: absolute;
  min-width: 52%;
  left: 10%;
  bottom: 2%;
  display: flex;
  flex-direction: column;
}

.GuruImage {
  width: 380px;
}

.BalaoDialogo {
  align-self: end;
  max-width: 40vw;
  background-color: white;
  padding: 10px 30px;
  border-radius: 15px;
  position: relative;
}

.BalaoDialogo>p,
.BalaoDialogo>h2 {
  color: black;
}

.BalaoDialogo>h2 {
  font-size: 30px;
}

.BalaoDialogo>p {
  font-size: larger;
}

.BalaoDialogo::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 0px;
  bottom: -20px;
}

.sectionGuru {
  background-image: url("https://img.freepik.com/vetores-gratis/padrao-de-espaco-sem-costura-de-cor_102902-2360.jpg?w=900&t=st=1664762003~exp=1664762603~hmac=53d70b30779966d4762af0e0735307461916373ab0bb1011f96879defef806b8");
  background-repeat: no-repeat;
  background-size: cover;
}

.Mission>h2 {
  width: 100%;
  text-align: center;
}

.TextAndImage {
  display: flex;
}

.NewTextAndImage {
  display: flex;
  flex-direction: row !important;
  width: 100%;
  justify-content: center;
}

.NewTextAndImage > img{
  height: 150px;
  width: 150px;
}

.ImageTextAndImage {
  width: 100px !important;
}

.padding-left {
  padding-left: 10px;
}

.padding-right {
  padding-right: 10px;
}

.ImagemSatelite {
  height: 250px;
}