* {
  box-sizing: border-box;
}

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
  border: 3px solid aqua;
}

aside {
  position: fixed;
}